@import "tailwindcss";

.text-primary {
    color: #002B6B;
}

.text-secondary {
    color: #414D60;
}

.bg-button {
    background-color: #0066FF;
}

/* *{
    margin:0;
} */

@theme {
    --color-primary:#002B6B;
    --color-secondary: #414D60;
    --color-blue: #0066FF;
}